.search-box {
  position: relative;
}

.search-box input {
  border-radius: 25px;
  padding: 10px;
}

.dropdown-box {
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 8px;
  margin-top: 5px;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f1f1f1;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 999;
    flex-direction: column;
    background: #212529;
    padding: 15px;
    border-radius: 10px;
  }
}
#navbarContent {
  z-index: 9999;
}